
version: "3.9"

services:
  backend:
    build: .
    container_name: eventia-core-api
    restart: always
    env_file: .env
    ports:
      - "3000:3000"
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:15
    container_name: eventia-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: eventia_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: eventia-redis
    restart: always
    ports:
      - "6380:6379"

volumes:
  pgdata:
